<!DOCTYPE html>
<html>
<head>
  <title>MultipleInput</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag 'jquery-1.5.1.min', 'jquery-ui-1.8.14.custom.min', 'jquery.livequery', 'jquery.validate', 'jquery.metadata', 'jquery.form', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
